/* Big table to 1200px (widths smaller than the 1140px row */
@media only screen and (max-width: 1200px){
    
}

/* Small tablet to Big table: From 768 to 1023px */
@media only screen and (max-width: 1023px){
    .projects-cards .card {
      
        
    }
}


/* Small phones to small tablets: From  481px to 767px */
@media only screen and (max-width: 767px){
    .projects {
        margin-top: 500px;
      
    }
    footer {
        margin-top: 250px;
    }
}

/* Small phones: From 0 to 480px */
@media only screen and (max-width: 480px){

}

/* 
	Desktop: 1200px // col-xl
	Laptop: 1024px // col-lg
	Tablet: 768px // md
	Phone: 480px // sm
*/
