* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html,
body {
    color: #fff;
	font-family: 'JetBrains Mono',  'Arial', monospace;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	background-color: #1a1a1ad2;
}



h1,
h2,
h3,
h4,
button {
    font-weight: 300;
    
}

h1, h2, h4, h5 {
	font-weight: bold;
	text-shadow:  2px 2px #1a1a1a;
}


h2,
h3,
button {
	font-size: 30px;
	
}

h4 {
	color: #cf6d17;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.748)), url(../images/bg.jpg) ;
	background-size: cover;
	height: 100vh;
    background-position: center;
    background-attachment: fixed;
}



h1 {
	font-size: 52px;

}
.icons i{
	text-shadow: 3px 3px #1a1a1a;
	color: #fff;
	
}


/*
#logo {
	height: 50px;
}*/



.line:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;}

.about-profile img {
	height: 300px;
	
}
span {
	color: #cf6d17;
}
button{
	background-color: #cf6d17;

}
.header-section {
	color: white;
	padding-top: 150px;
	width: 90%;
	margin: auto;

}

.icons {
	
	margin-bottom:  15px;

}
i {
	font-size: 40px;
	color: black;
	margin: 10px;
}
i:hover {
	color: white;
}

.box {
	padding-top: 50px;
}







/* ================== */

/* ================== */


/* #profile-picture {
	background-image: url("../images/rochelle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	border-radius: 50px;
	border: 2px solid black;
} */


.btn {
	color: #fff;
}
#active {
	color: white;
}

#btn-portfolio {
	text-decoration: none;
	color: white;
}
#map {
	padding: 60px;
}

.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}
#html {
	background-image: url("../images/html.png");
}
#css {
	background-image: url("../images/css.png");
}
#js {
	background-image: url("../images/js.png");
}

#gitlab {
	background-image: url("../images/gitlab.png");
}
#gitlab {
	background-image: url("../images/gitlab.png");
}
#google {
	background-image: url("../images/google.jpeg");
}


#work-button {
	margin: 20px;
}
nav {
	background-color: #1a1a1a;
	border-bottom: 2px solid #cf6d17;
	text-transform: uppercase;


}


footer {
	padding: 60px;
	text-align:  center;
	background-color: #1e1e1e;
	height: 20vh;
	border-top: 2px solid #cf6d17;

}

.footer-icon i {
	font-size: 25px;
		text-shadow: 3px 3px #1a1a1a;
		color: #fff;
		
}
 
.footer-link ul {
	list-style-type: none;
	display: flex;
	
	
}
.footer-link li a {
	/* display: flex; */
	text-decoration: none;
	color: #fff;
	text-shadow: 3px 3px #1a1a1a;
	/* margin-right: 15px;
	border-right: 1px solid #fff;
	padding-right: 20px;
	 */

  }
  #contact {
	  margin-bottom: 60px;
  }
  #contact h2 {
	  text-align: center;
  }
/*.header-section p {

}
*/




.btn-full:hover,
.btn-full:active {
    
     box-shadow: 5px 5px white;

}

/**/
.portfolio-list {
	background-color: #cf6d17;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	text-align: 	center;	
}




/**/

	.activity:link, .activity:visited {

  color: white;
   text-transform: uppercase;
  text-align: center;
  text-decoration: none;

}

/**/
.portfolio-list:hover,
.portfolio-list:active {
  box-shadow: 5px 10px #888888;
	margin: 10px;
   
}
/**/

#git {
	background-image: url("../images/activity4.png");

}
.gmap {
	width: 100%;
}
.mapwrap {
	max-width: 700%;
}
/* ===============
	ABOUT
==================*/
#projects {
	background-color: rgb(56, 56, 56);

}
.about {
	padding-top: 60px;
	
	height: 100vh;
}
.about h2,
.about h5 {
	color: #fff;
}
.about p {
	text-align: justify;
	color: #fff;
	text-shadow: 2px 2px #1a1a1a;
	margin-top: 20px;
}
.about .profile {
	/* background-image: url(../images/rochelle.jpg);
	background-size: cover; */
	background-color: #1e1e1e;
	
	box-shadow: 5px 5px #cf6d17;
	margin: auto;
	width: 70%;

}
.skills-icon i {
	font-size: 18px;
	color: #cf6d17;
}
.skills-icon ul {
	list-style-type: none;
}
.td2 {
	padding-left: 50px;
}
/* ===============
	PROJECTS
==================*/

.projects {
	padding-top: 50px;
	height: 100vh;
	display: flex;
	align-items: center;
}
.projects h2,
.projects h6 {
	text-align: center;
}
.card{
	background-color: #1a1a1a;
	padding: 5px;
}
.projects-icon i {
	color: #fff;
	font-size: 18px;
}
.projects-cards {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.projects-icon .fa-external-link-alt {
	margin-left: -5px;
}
.project-title {
	text-align: center;
	color: #cf6d17;
}


/* 
	Desktop: 1200px // col-xl
	Laptop: 1024px // col-lg
	Tablet: 768px // md
	Phone: 480px // sm
*/